@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

/* This was taken from codeinstitutes mini project video for the task manager app */
.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.596);
}

/* This was taken from codeinstitutes mini project video for the task manager app */
.flashes h4 {
    line-height: 2;
}

.btn-small {
    margin: 5px;
}

/* This was taken from codeinstitutes mini project video for the task manager app */
.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

.card-image{
    height:300px;
    width:auto;
    overflow:hidden;
}

#landing-image{
   background-image: url("https://browser-d0d4bab4-3203-42f7-9427-2507f859b0d3.ws-eu03.gitpod.io/workspace/Sweet-Treats/static/imgs/newlandingpagebackground.jpg");
   overflow:hidden;
   left: 0;
   top: 0;
   width: 100%;
   height:500px;
   background-repeat: no-repeat;
   background-size: cover;
}

@media only screen and (max-width: 600px) {
#landing-image {
    background-size: cover;
    width: 100%;
  }
}

.img-gradient{
   position:relative;
   display:inline-block;
}

.img-gradient:after {
   content:'';
   position:absolute;
   top:0;
   width:100%; 
   height:100%;
   display:inline-block;
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(0, 0, 0)), color-stop(100%,rgba(255, 255, 255, 0.096))); 
}

.img-gradient img{
   display:block;
}

#title{  
   position: absolute;
   top: 25%;
   left: 47%;
   transform: translate(-50%, -50%);
   color:orange;
   text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.596);
   font-size: 100px;
   padding-bottom: 4%;
}

.rec-month{
   color:rgba(240, 56, 0, 0.918);
   text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.596);
}

@media only screen and (max-width: 600px) {
.rec-month {
   font-size: 70px;
}
}


h3 {
   font-family: 'Great Vibes', cursive;
   font-size: 80px;
   font-weight: 200;
   color:rgb(110, 109, 109);
}

h4{
   font-family: 'Great Vibes', cursive;
   font-size: 80px;
   font-weight: 200;
   color:black;  
}

h6{font-family: 'Great Vibes', cursive;
   font-size: 60px;
   font-weight: 200;
   color:black; }

#search-bar{
   height:50px;
}

@media only screen and (max-width: 600px) {

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

 .page-footer {
    bottom:0;
  }
}

.logo{
    height:30px;
    width:30px;
    margin:5px;
}

.dropdown-content li>a, .dropdown-content li>span {
    color: #ffab40;
}

.card-title{
    color:black;
    font-weight: 400;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.596);
}

.ing-rec{
    color:rgb(61, 61, 61);
}

/* This was imitated from https://recipe-pot.herokuapp.com */
#gradientdiv {
   height: 100px;
   background-color: white;
   background-image:linear-gradient( black, white);
}

/* This was imitated from https://recipe-pot.herokuapp.com */
#footer-badges {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    list-style: none;
}

#footer-badges {
    font-size: 3.5rem;
}

#footer-badges i{
   color:#eb8500;
}

#tab-search{
   position: absolute;
   top: 50%;
   left: 47%;
   transform: translate(-50%, -50%);
}

@media only screen and (max-width: 600px) {
#tab-search {
    width: 80%;
    margin:2px;
    left:48%;
  }
}

.input-field{
   width: 90%;
}

@media only screen and (max-width: 600px) {
#search-buttons {
    padding:3px;
    margin-inline: 46px;
  }
}

.copyright{
    font-size: 12px;
}

.recipe-name{
    color:orange;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.596);
}

#bg-recipe-heading{
    background-color: rgba(0, 0, 0, 0.644);
}


#ingredients-under-heading{
    background-color: rgba(0, 0, 0, 0.349);
    color:white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.596);
}

#ingredients-heading{
    color:white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.596);  
}

a{
    text-decoration: none;
    color: white;
}

#search-button{
    width:130px;
}

.video-container{
    margin-bottom:2px;
}

 
@media only screen and (min-device-width: 768px) {
.video-container {
    width:90%;
}
}

@media only screen and (max-width: 600px) {
.video-container {
    width:90%;
}
}
