@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');


.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.596);
}


.flashes h4 {
    line-height: 2;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

.card-image{
    height:300px;
    width:auto;
    overflow:hidden;
}

#landing-image{
  background-image: url("https://browser-d0d4bab4-3203-42f7-9427-2507f859b0d3.ws-eu03.gitpod.io/workspace/Sweet-Treats/static/imgs/newlandingpagebackground.jpg");
  overflow:hidden;
  left: 0;
  top: 0;
  width: 100%;
  height:690px;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-gradient{
  position:relative;
  display:inline-block;
}

.img-gradient:after {
  content:'';
  position:absolute;
  left:0; top:0;
  width:100%; 
  height:100%;
  display:inline-block;
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(0, 0, 0)), color-stop(100%,rgba(255, 255, 255, 0.096))); 
}

.img-gradient img{
  display:block;
}

#title{  
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
color:orange;
text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.596);
font-size: 110px;
}

.rec-month{
color:rgba(240, 56, 0, 0.918);
text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.596);
}

h3 {
font-family: 'Great Vibes', cursive;
font-size: 80px;
font-weight: 200;
color:rgb(110, 109, 109);
}

h4{
font-family: 'Great Vibes', cursive;
font-size: 80px;
font-weight: 200;
color:black;  
}

h6{font-family: 'Great Vibes', cursive;
font-size: 60px;
font-weight: 200;
color:black; }

#search-bar{
height:50px;
}

@media only screen and (max-width: 600px) {

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

 .page-footer {
    bottom:0;
  }
}

.logo{
    height:30px;
    width:30px;
    margin:5px;
}

.dropdown-content li>a, .dropdown-content li>span {
    color: #ffab40;
}

.card-title{
    color:black;
    font-weight: 400;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.596);
}

.ing-rec{
    color:rgb(61, 61, 61);
}

#gradientdiv {
  height: 100px;
  background-color: white;
  background-image:
    linear-gradient(
      black, white
    );
}

#footer-badges {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    list-style: none;
}

#footer-badges {
    font-size: 3.5rem;
}

#footer-badges i{
 color:#eb8500;
}

#tab-search{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.copyright{
    font-size: 12px;
}

.recipe-name{
    color:orange;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.596);
}

#bg-recipe-heading{
    background-color: rgba(0, 0, 0, 0.644);
}


#ingredients-under-heading{
    background-color: rgba(0, 0, 0, 0.349);
    color:white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.596);
}

#ingredients-heading{
  color:white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.596);  
}

a{
    text-decoration: none;
    color: white;
}