@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');


.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.596);
}


.flashes h4 {
    line-height: 2;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

.card-image{
    height:300px;
    width:auto;
    overflow:hidden;
}

#landing-image{
  overflow:hidden;
  left: 0;
  top: 0;
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

h3 {
font-family: 'Great Vibes', cursive;
font-size: 80px;
font-weight: 200;
color:rgb(110, 109, 109);
}

.search-bar{
height:50px;
}

@media only screen and (max-width: 600px) {

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

 .page-footer {
    bottom:0;
  }
}

.logo{
    height:30px;
    width:30px;
    margin:5px;
}

