{% extends "base.html" %}
{% block content %}

 <!-- Heading -->
<h3 class="text-center">Add Recipe</h3>
<div class="container justify-content-center shadow p-3 mb-5 bg-body rounded">
    <div class="row">
        <form class="col-10" method="POST" action="{{ url_for('add_recipe') }}">
             <!-- category selection -->
            		<div class="row">
				<div class="input-field col-10">
                    <i class="fas fa-folder-open"></i>
					<select id="category_name" name="category_name" class="validate" required>
                        <option value="" disabled selected>Choose Category</option>
                        {% for category in categories %}
                            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endfor %}
                    </select>
					<label for="category_name">Recipe Category</label>
				</div>
            </div>
              <!-- recipe name -->
            <div class="row">
                <div class="input-field col-10">
                    <i class="fas fa-pencil-alt"></i>
                    <input id="recipe_name" name="recipe_name" minlength="5" maxlength="50"
                        type="text" class="validate" required>
                    <label for="recipe_name">Recipe Name</label>
                </div>
            </div>
             <!-- recipe description -->
            <div class="row">
                <div class="input-field col-10">
                    <i class="fas fa-align-left"></i>
                    <textarea id="recipe_description" name="recipe_description" minlength="5"
                        maxlength="200" class="materialize-textarea validate" required></textarea>
                    <label for="recipe_description">Recipe Description</label>
                </div>
            </div>
            <!-- ingredients -->
            <div class="row">
                <div class="input-field col-10">
                    <i class="fas fa-cookie-bite"></i>
                    <textarea id="ingredients" name="ingredients" minlength="5"
                        maxlength="300" class="materialize-textarea validate" required></textarea>
                    <label for="ingredients">Ingredients</label>
                </div>
            </div>
            <!-- method -->
            <div class="row">
                <div class="input-field col-10">
                    <i class="fas fa-blender"></i>
                    <textarea id="method" name="method" minlength="5"
                        maxlength="2000" class="materialize-textarea validate" required></textarea>
                    <label for="method">Method - Please add each step on a new line.</label> 
                </div>
            </div>
            <!-- date made -->
            <div class="row">
                <div class="input-field col-10">
                    <i class="fas fa-calendar-alt"></i>
                    <input id="due_date" name="due_date" type="text" class="datepicker validate" required>
                    <label for="due_date">Date Created</label>
                </div>
            </div>
            <!-- is favourite toggle -->
			<div class="row">
				<div class="input-field col-10">
					<div class="switch">
                        <i class="fas fa-star"></i>
						<label for="is_urgent">
                            <input type="checkbox" id="is_urgent" name="is_urgent">
                            <span class="lever"></span>
                            Make Favourite
                        </label>
					</div>
				</div>
			</div>
         <!-- submit button -->
            <div class="row">
                <div class="col-10 justify-content-center">
                    <button type="submit" class="btn btn-outline-dark">
                        Add Recipe <i class="fas fa-plus-square right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
    </div>

{% endblock %}