<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" 
    integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
     {% block styles %}
     {% endblock %}
    <title>Sweet Treats Recipe Book</title>
</head>
<body>
<header>
    <!---Top Navbar--->
   	<nav class="nav-extended text-shadow black">
			<div class="nav-wrapper orange-text">
				<a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
				<ul class="left hide-on-med-and-down">
                    <li><a href="{{ url_for('get_recipes') }}">Home</a></li>
                    <!-- Dropdown Trigger -->
                    <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Recipes<i class="material-icons right">arrow_drop_down</i></a></li>
   
                    <!-- Dropdown Structure -->
                    <ul id="dropdown1" class="dropdown-content grey darken-3">
                        <li><a href="{{ url_for('display_category', category_name='sweet_breads')}}">Sweet Breads</a></li>
                        <li><a href="{{ url_for('display_category', category_name='drinks_moussepots')}}">Drinks & Mousse Pots</a></li>
                        <li><a href="{{ url_for('display_category', category_name='cakes_puddings')}}">Cakes & Puddings</a></li>
                        <li><a href="{{ url_for('display_category', category_name='sweet_pies')}}">Sweet Pies</a></li>
                         <li><a href="{{ url_for('display_category', category_name='cookies_biscuits')}}">Cookies & Biscuits</a></li>
                        <li><a href="{{ url_for('display_category', category_name='icecreams_sorbets')}}">Ice Creams & Sorbets</a></li>
                        <li><a href="{{ url_for('display_category', category_name='pastries')}}">Pastries</a></li>
                        <li><a href="{{ url_for('display_category', category_name='truffles_candies')}}">Truffles & Candies</a></li>
                    </ul>
                    {% if session.user %}
                        <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                        <li><a href="{{ url_for('add_recipe') }}">Add New Recipe</a></li>
                        {% if session.user|lower == "admin"|lower %}
                        <li><a href="{{ url_for('get_categories') }}">Manage Categories</a></li>
                        {% endif %}
                        <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                    {% else %}
                        <li><a href="{{ url_for('login') }}">Log In</a></li>
                        <li><a href="{{ url_for('register') }}">Register</a></li>
                    {% endif %}
				</ul>
			</div>
        </nav>
       
 <!---Mobile Side Navbar--->
    
 <ul class="sidenav" id="mobile-demo">
      <nav class="orange lighten-2">
    <div class="nav-wrapper">
      <form>
        <div class="input-field">
          <input id="search" type="search" required>
          <label class="label-icon" for="search"><i class="large material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
  </nav>
            <li><h4 class="center-align grey-text text-darken 1">Manage Recipes</h4></li>
             <li><a href="{{ url_for('get_recipes') }}">Home</a></li>
                 <!-- Dropdown Trigger -->
                    <li><a class="dropdown-trigger" href="#!" data-target="dropdown2">Recipes<i class="material-icons right">arrow_drop_down</i></a></li>
   
                    <!-- Dropdown Structure -->
                    <ul id="dropdown2" class="dropdown-content grey darken-3 orange-text">
                        <li><a href="{{ url_for('display_category', category_name='sweet_breads')}}">Sweet Breads</a></li>
                        <li><a href="{{ url_for('display_category', category_name='drinks_moussepots')}}">Drinks & Mousse Pots</a></li>
                        <li><a href="{{ url_for('display_category', category_name='cakes_puddings')}}">Cakes & Puddings</a></li>
                        <li><a href="{{ url_for('display_category', category_name='sweet_pies')}}">Sweet Pies</a></li>
                         <li><a href="{{ url_for('display_category', category_name='cookies_biscuits')}}">Cookies & Biscuits</a></li>
                        <li><a href="{{ url_for('display_category', category_name='icecreams_sorbets')}}">Ice Creams & Sorbets</a></li>
                        <li><a href="{{ url_for('display_category', category_name='pastries')}}">Pastries</a></li>
                        <li><a href="{{ url_for('display_category', category_name='truffles_candies')}}">Truffles & Candies</a></li>
                    </ul>
            {% if session.user %}
                <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                <li><a href="{{ url_for('add_recipe') }}">Add New Recipe</a></li>
                {% if session.user|lower == "admin"|lower %}
                <li><a href="{{ url_for('get_categories') }}">Manage Categories</a></li>
                {% endif %}
                <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            {% else %}
                <li><a href="{{ url_for('login') }}">Log In</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
            {% endif %}
        </ul>
        <div id="landing-image" class="img-gradient">
    <img class="responsive-img" src="https://browser-d0d4bab4-3203-42f7-9427-2507f859b0d3.ws-eu03.gitpod.io/workspace/Sweet-Treats/static/imgs/newlandingpagebackground.jpg">
        </div>
 <div class="container">
     <h3 id="title" class="center-align">Sweet Treats</h3>
 </div>
<div id="tab-search" class="row card-panel col s12 m8 white">
        <form id="search-bar" action="{{ url_for('search') }}" method="post" class="col s12 m8">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12 m8">
                    <input type="text" name="query" id="query" minlength="3" class="validate" required>
                    <label for="query">Search Recipes</label>
                </div>
                <div class="col s12 m4">
                    <a href="{{ url_for('get_recipes') }}" class="blue darken-2 btn text-shadow">Reset</a>
                    <button type="submit" class="orange lighten-2 btn text-shadow">
                        <i class="fas fa-search left"></i> Search</button>
                </div>
            </div>
        </form>
    </div>
</header>

<section>
      <!-- flash messages -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row flashes">
                        <h4 class="grey darken-1 lighten-4 center-align">{{ message }}</h4>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
</section>

<main class="container">
  {% block content %}
  {% endblock %}
</main>

    <footer id="gradient" class="page-footer black">
          <div class="container">
    <div class="row">
<div class="col s4 grey-text-shadow">  <i class="medium material-icons">local_dining</i>
        <h5><a href="https://www.souschef.co.uk/collections/cookware" target="_blank">Utensils we like</a></h5>
        </div>
      <div class="col s4 grey-text-shadow">  <i class="medium material-icons">local_movies</i>
       <h5><a href="https://www.youtube.com/watch?v=shJDSc1Ybxw" target="_blank">Quick recipe videos</a></h5>
       </div>
      <div class="col s4 grey-text-shadow">  <i class="medium material-icons">cloud_circle</i>
         <h5><a href="https://edition.cnn.com/travel/article/world-50-best-desserts/index.html" target="_blank">Inspiration</a></h5>
</div>
    </div>
     </div>     
         

<div id="footer-badges" class="col s6">
 <div class="col s4">
     <a href="http://www.facebook.com/" target="_blank"
                  ><i class="fab fa-facebook-square"></i
                ></a> <a href="http://www.instagram.com/" target="_blank"
                  ><i class="fab fa-instagram-square ml-4"></i
                ></a> <a href="http://www.twitter.com/" target="_blank"
                  ><i class="fab fa-twitter-square ml-4"></i
                ></a>  
      </div>
      </div>
      <div class="copyright"><p>©Lauren Romero 2021. All Rights Reserved</p></div>
       </footer>

  <script src="https://code.jquery.com/jquery-3.5.1.min.js" 
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="{{ url_for('static', filename='js/script.js')}}"></script>
  {% block scripts %}
  {% endblock %}
</body>
</html>