{% extends "base.html" %}
{% block content %}



 {% for recipe in recipes %}
<div class="container justify-content-center shadow p-3 mb-5 bg-body rounded">
     
     <!-- Heading -->
     <div class="row justify-content-center">
<h2 class="text-center">{{ recipe.recipe_name }}</h2>
</div> 
<div class="text-center" id="recipe-desc"><strong >{{ recipe.recipe_description }}</strong></div>
    <div class="row justify-content-center">
<div class="input-group mb-3 col-4">
  <div class="input-group-prepend">
    <label class="input-group-text">
        <h3>Ingredients:</h3>
</label>
           </div> 
             <p>
                 <ul>
                        {% for ingredient in recipe.ingredients %}
                         <li class="ing-rec">{{ ingredient }}</li>
                        {% endfor %}
                    </ul>
                </p>
            
           </div> 
  </div>
 
  <div class="text-center">
   <a href="{{ url_for('display_recipe', recipe_id=recipe._id)}}" class="btn btn-dark">Show the Method</a>
   </div>
</div>

{% endfor %}


{% endblock %}
