{% extends "base.html" %}
{% block content %}


{% for recipe in recipes %}

<div class="row">
    <div class="col s12 m6">
        <div class="card yellow lighten-4">
            <div class="card-content white-text">
                <span class="card-title">
      {{ recipe.recipe_name }}
                </span>
                <p class="ing-rec">Ingredients:
                    <ul> 
                        {% for ingredient in recipe.ingredients %}
                         <li class="ing-rec">{{ ingredient }}</li>
                        {% endfor %}
                    </ul> 
                </p>
            </div>
            <div class="card-action">
                <a href="{{ url_for('display_recipe', recipe_id=recipe._id)}}">Show the Method</a>
                <a class="dropdown-trigger orange darken-1 btn" href="#" data-target="dropdown3">Buy the Ingredients</a>
 <ul id="dropdown3" class="dropdown-content">
    <li><a href="https://www.amazon.co.uk/ref=nav_logo" target="_blank"><img class="logo" src="https://browser-d0d4bab4-3203-42f7-9427-2507f859b0d3.ws-eu03.gitpod.io/workspace/Sweet-Treats/static/imgs/amazonimage.png" alt="amazon_logo">Amazon</a></li>
    <li><a href="https://www.tesco.com/" target="_blank"><img class="logo" src="https://browser-d0d4bab4-3203-42f7-9427-2507f859b0d3.ws-eu03.gitpod.io/workspace/Sweet-Treats/static/imgs/tescologo.jpg" alt="tesco_logo">Tesco</a></li>
  </ul>


          </div>      
        </div>
    </div>
</div>

{% endfor %}

{% endblock %}
