{% block content %}

<h3>  {{ recipe.recipe_name }} </h3>

{% for recipe in recipes %}
 <div class="container">
          <ul class="collapsible">
    <li>
      <div class="collapsible-header"><i class="fas fa-cookie-bite" ></i>Ingredients:</div>
      <div class="collapsible-body">
                <span>{% for ingredients in recipe %}
                        {{ recipe.recipe_ingredients }}
                        {% endfor %}
                </span></div>
    </li>
    <li class="active">
      <div class="collapsible-header"><i class="fas fa-blender"></i>Method</div>
      <div class="collapsible-body">
          <span>{% for method in recipe %}
                        {{ recipe.recipe_method }}
                        {% endfor %}
                    </span></div>
    </li>
    </ul>
      </div>

{% endfor %}


{% endblock %}
