{% extends "base.html" %}
{% block content %}

 {% if session.user %}
<div class="container-fluid col-sm-10 col-8 justify-content-center">
<div id="tab-search" class="container-fluid col-10 justify-content-center">
        <form id="search-bar" action="{{ url_for('search') }}" method="post">
            <div class="row justify-content-center">
                <div class="input-field">
                    <input type="text" name="query" id="query" minlength="3" class="validate" class="form-control me-2" type="search" placeholder="Search Recipes" aria-label="Search" required>
                    <label for="query"></label>
                </div>
                </div>
                <div class="row justify-content-center">
                <div id="search-buttons">
                    <a href="{{ url_for('profile', username=session['user']) }}" class="btn btn-outline-dark">Reset</a>
                    <button class="btn btn-outline-info" type="submit" id="search-button">
                        <i class="fas fa-search left"></i> Search</button>
                </div>
            </div>
        </form>
    </div>
    </div>
    {% endif %}
    
<div class="container">
    <div class="row">
        <div class="col-10">
            <div class="card-panel">
                <h3 class="text-center">
                    {{ username }}'s profile
                </h3>
            </div>
        </div>
    </div>
    <div class="col-10">
    <h6 class="text-center">Hey, {{ username }}. Here is a Full Index of Our Recipes.</h6>
   </div>

{% if recipes|length > 0 %}

<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        {% for recipe in recipes %}
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
                {% if session.user|lower == recipe.created_by|lower %}
                 <!-- Modal Trigger -->
                <button data-target="modal1" class="btn btn-outline-danger modal-trigger">Delete</button>
                <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn btn-outline-warning">Edit</a>
                {% endif %}
         <div class="col-sm-9">
        <strong>{{ recipe.recipe_name }}</strong> : {{ recipe.due_date }}
        {% if recipe.is_urgent == "on" %}
        <i class="fas fa-star yellow-text text-shadow tooltipped"
        data-bs-toggle="tooltip" data-bs-placement="top" title="I'm a Favourite"></i>
        {% endif %}
        <strong>{{ recipe.category_name }}</strong>
                <p>{{ recipe.recipe_description }}</p>
                <p><em>by: {{ recipe.created_by }}</em></p>
    </div>
        </div>
    </div>
  </div>
</div>
<!-- Vertically centered modal -->
<div class="modal-dialog-centered" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">You are About to Delete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this recipe?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger">Yes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>

<!-- Vertically centered modal --><!-----------------
<div class="modal-dialog modal-dialog-centered">
 <div class="modal-content">
         <h4>You are About to Delete</h4>
         <p>Are you sure you want to delete this recipe?</p>
    </div>
     <div class="modal-footer">
         <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="modal-close btn btn-success">Yes</a>
         <a href="#!" class="modal-close btn btn-danger">No</a>
    </div>
</div>----------------------------->
         {% endfor %}

{% else %}
 <h3 class="red-text text-darken-4 center-align">No Results Found</h3>
{% endif %}


{% endblock %}
