{% extends "base.html" %}
{% block content %}

 {% if session.user %}
<div class="container-fluid col-sm-10 col-8 justify-content-center">
<div id="tab-search" class="container-fluid col-10 justify-content-center">
        <form id="search-bar" action="{{ url_for('search') }}" method="post">
            <div class="row justify-content-center">
                <div class="input-field">
                    <input type="text" name="query" id="query" minlength="3" class="validate" class="form-control me-2" type="search" placeholder="Search Recipes" aria-label="Search" required>
                    <label for="query"></label>
                </div>
                </div>
                <div class="row justify-content-center">
                <div id="search-buttons">
                    <a href="{{ url_for('profile', username=session['user']) }}" class="btn btn-outline-dark">Reset</a>
                    <button class="btn btn-outline-info" type="submit" id="search-button">
                        <i class="fas fa-search left"></i> Search</button>
                </div>
            </div>
        </form>
    </div>
    </div>
    {% endif %}
    
<div class="container" id="profile-welcome">
    <div class="row justify-content-center">
        <div class="col-10">
            <div class="card-panel">
                <h3 class="text-center">
                    {{ username }}'s profile
                </h3>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
    <div class="col-10">
    <h6 class="text-center">Hey, {{ username }}. <br> Here is a Full Index of Our Recipes.</h6>
    </div>
   </div>
   </div>


<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Collapsible Group Item #1
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        Some placeholder content for the first accordion panel. This panel is shown by default, thanks to the <code>.show</code> class.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Collapsible Group Item #2
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        Some placeholder content for the second accordion panel. This panel is hidden by default.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Collapsible Group Item #3
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        And lastly, the placeholder content for the third and final accordion panel. This panel is hidden by default.
      </div>
    </div>
  </div>
</div>



{% endblock %}
