{% extends "base.html" %}
{% block content %}


{% if recipes|length > 0 %}
<div class="container-fluid" id="card-images">
 <div class="row" id="recipe-cards">
    <div class="col">
     <div class="card" style="width: 18rem;">
  <img src="{{ url_for('static', filename='imgs/cinnamonbuns4.jpg') }}" class="card-img-top" alt="sweetbreadsimage">
  <div class="card-body">
    <h5 class="card-title">Sweet Breads</h5>
    <a href="{{ url_for('display_category', category_name='sweet_breads')}}" class="btn btn-outline-dark">Take a Look</a>
  </div>
</div>
</div>
    <div class="col">
     <div class="card" style="width: 18rem;">
  <img src="{{ url_for('static', filename='imgs/drink.jpg') }}" class="card-img-top" alt="drinksandmoussepotsimage">
  <div class="card-body">
    <h5 class="card-title">Drinks & Mousse Pots</h5>
    <a href="{{ url_for('display_category', category_name='drinks_moussepots')}}" class="btn btn-outline-dark">Take a Look</a>
  </div>
</div>
</div>
  <div class="col">
     <div class="card" style="width: 18rem;">
  <img src="{{ url_for('static', filename='imgs/cake5.jpg') }}" class="card-img-top" alt="cakesandpuddingsimage">
  <div class="card-body">
    <h5 class="card-title">Cakes & Puddings</h5>
    <a href="{{ url_for('display_category', category_name='cakes_puddings')}}" class="btn btn-outline-dark">Take a Look</a>
  </div>
</div>
</div>
    <div class="col">
     <div class="card" style="width: 18rem;">
  <img src="{{ url_for('static', filename='imgs/pie2.jpg') }}" class="card-img-top" alt="sweetpiesimage">
  <div class="card-body">
    <h5 class="card-title">Sweet Pies</h5>
    <a href="{{ url_for('display_category', category_name='sweet_pies')}}" class="btn btn-outline-dark">Take a Look</a>
  </div>
</div>
</div>
</div>
<div class="row" id="recipe-cards2">
    <div class="col">
     <div class="card" style="width: 18rem;">
  <img src="{{ url_for('static', filename='imgs/colorful_cookies2.jpg') }}" class="card-img-top" alt="cookiesimage">
  <div class="card-body">
    <h5 class="card-title">Cookies & Biscuits</h5>
    <a href="{{ url_for('display_category', category_name='cookies_biscuits')}}" class="btn btn-outline-dark">Take a Look</a>
  </div>
</div>
</div>
    <div class="col">
     <div class="card" style="width: 18rem;">
  <img src="{{ url_for('static', filename='imgs/icecreams2.jpg') }}" class="card-img-top" alt="icecreamsimage">
  <div class="card-body">
    <h5 class="card-title">Ice Creams & Sorbets</h5>
    <a href="{{ url_for('display_category', category_name='icecreams_sorbets')}}" class="btn btn-outline-dark">Take a Look</a>
  </div>
</div>
</div>
  <div class="col">
     <div class="card" style="width: 18rem;">
  <img src="{{ url_for('static', filename='imgs/crossaintimg2.jpg') }}" class="card-img-top" alt="pastriesimage">
  <div class="card-body">
    <h5 class="card-title">Pastries</h5>
    <a href="{{ url_for('display_category', category_name='pastries')}}" class="btn btn-outline-dark">Take a Look</a>
  </div>
</div>
</div>
    <div class="col">
     <div class="card" style="width: 18rem;">
  <img src="{{ url_for('static', filename='imgs/truffles.jpg') }}" class="card-img-top" alt="trufflesimage">
  <div class="card-body">
    <h5 class="card-title">Truffles & Candies</h5>
    <a href="('{{ url_for('static', filename='imgs/truffles.jpg') }}')" class="btn btn-outline-dark">Take a Look</a>
  </div>
</div>
</div>
</div>
</div>
{% endif %}
<hr>
  <section>
<h3 class="rec-month text-center">Our Favourite Recipe of the Month</h3>
<div class="container-fluid">
    <div class="row justify-content-center">
<iframe width="560" height="315" src="https://www.youtube.com/embed/xwKGZS3EE7Q" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  </div>
</section>

{% endblock %}