{% extends "base.html" %}
{% block content %}


{% if recipes|length > 0 %}
 <div class="row">
    <div class="col s12 m6 l3">
 <div class="card">
        <div class="card-image">
          <img src="https://browser-d0d4bab4-3203-42f7-9427-2507f859b0d3.ws-eu03.gitpod.io/workspace/Sweet-Treats/static/imgs/sweetbread.jpg">
          <span class="card-title">Sweet Breads</span>
        </div>
        <div class="card-action">
          <a href="{{ url_for('display_category', category_name='sweet_breads')}}">Take a Look</a>
        </div>
      </div>
      </div>
      <div class="col s12 m6 l3">
       <div class="card">
      <div class="card-image">
          <img src="https://browser-d0d4bab4-3203-42f7-9427-2507f859b0d3.ws-eu03.gitpod.io/workspace/Sweet-Treats/static/imgs/drink.jpg">
          <span class="card-title">Drinks & Mousse Pots</span>
        </div>
        <div class="card-action">
          <a href="{{ url_for('display_category', category_name='drinks_moussepots')}}">Take a Look</a>
        </div>
      </div>
      </div>
      <div class="col s12 m6 l3">
       <div class="card">
        <div class="card-image">
          <img src="https://browser-d0d4bab4-3203-42f7-9427-2507f859b0d3.ws-eu03.gitpod.io/workspace/Sweet-Treats/static/imgs/cake.jpg">
          <span class="card-title">Cakes & Puddings</span>
        </div>
        <div class="card-action">
          <a href="{{ url_for('display_category', category_name='cakes_puddings')}}">Take a Look</a>
        </div>
      </div>
      </div>
      <div class="col s12 m6 l3">
       <div class="card">
      <div class="card-image">
          <img src="https://browser-d0d4bab4-3203-42f7-9427-2507f859b0d3.ws-eu03.gitpod.io/workspace/Sweet-Treats/static/imgs/pie.jpg">
          <span class="card-title">Sweet Pies</span>
        </div>
        <div class="card-action">
          <a href="{{ url_for('display_category', category_name='sweet_pies')}}">Take a Look</a>
        </div>
      </div>
      </div>
 </div>
       
<div class="row">
     <div class="col s12 m6 l3">
       <div class="card">
        <div class="card-image">
          <img src="https://browser-d0d4bab4-3203-42f7-9427-2507f859b0d3.ws-eu03.gitpod.io/workspace/Sweet-Treats/static/imgs/colorful_cookies.jpg">
          <span class="card-title">Cookies & Biscuits</span>
        </div>
        <div class="card-action">
          <a href="{{ url_for('display_category', category_name='cookies_biscuits')}}">Take a Look</a>
        </div>
      </div>
      </div>
    <div class="col s12 m6 l3">
 <div class="card">
         <div class="card-image">
          <img src="https://browser-d0d4bab4-3203-42f7-9427-2507f859b0d3.ws-eu03.gitpod.io/workspace/Sweet-Treats/static/imgs/ice%20creams.jpg">
          <span class="card-title">Ice Creams & Sorbets</span>
        </div>
        <div class="card-action">
          <a href="{{ url_for('display_category', category_name='icecreams_sorbets')}}">Take a Look</a>
        </div>
      </div>
      </div>
      <div class="col s12 m6 l3">
       <div class="card">
        <div class="card-image">
          <img src="https://browser-d0d4bab4-3203-42f7-9427-2507f859b0d3.ws-eu03.gitpod.io/workspace/Sweet-Treats/static/imgs/crossaints.jpg">
          <span class="card-title">Pastries</span>
        </div>
        <div class="card-action">
          <a href="{{ url_for('display_category', category_name='pastries')}}">Take a Look</a>
        </div>
      </div>
      </div>
      <div class="col s12 m6 l3">
       <div class="card">
        <div class="card-image">
          <img src="https://browser-d0d4bab4-3203-42f7-9427-2507f859b0d3.ws-eu03.gitpod.io/workspace/Sweet-Treats/static/imgs/truffles.jpg">
          <span class="card-title">Truffles & Candies</span>
        </div>
        <div class="card-action">
          <a href="{{ url_for('display_category', category_name='truffles_candies')}}">Take a Look</a>
        </div>
      </div>
         </div>
  </div>
{% endif %}
  <section>
<h3 class="rec-month">Our Favourite Recipe of the Month</h3>
        <div class="responsive-video">
        <iframe width="853" height="480" src="//www.youtube.com/embed/xwKGZS3EE7Q" frameborder="0" allowfullscreen></iframe>
      </div>
        
  </section>

{% endblock %}